.user_info {
  display: flex;
  align-items: center;
  gap: var(--gap-medium);
}

.user_li {
  padding: var(--gap-big);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #403d39;
  border-radius: var(--border-radius);
}
