.details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--gap-big);
}

.details__backBtn {
  align-self: flex-end;
}

.details__img {
  align-self: center;
}
