.details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--gap-big);
  width: var(--card-size);
}

.details__backBtn {
  align-self: flex-end;
}

.details__img {
  align-self: center;
}

@media screen and (max-width: 600px) {
  .details {
    width: 100%;
  }
}
